.ri-search-line, .ri-eraser-fill, .ri-arrow-left-double-fill 
{
    margin-right: 5px;
}

#click-tour
{
    display: none;
}

#mt-painel
{
    margin-top: 20px;
}


/* Logo Painel */

.logo
{
	height: auto !important;
}

.logo-painel
{
	width: 105px !important;
    height: auto !important;
    margin-top: -10px !important;
    margin-bottom: -10px !important;
    margin-left: -90px !important;
}


/* Background atrás do usuário no menu esquerdo*/

.leftbar-user 
{
  background: linear-gradient(to right, #8BC53E, #74BD40) !important;  
  position: relative !important;
}


/* Modo escuro */

#step2
{
    display: none !important;
}