/* HEADER FIXO */
.pdv-header {
    background: linear-gradient(90deg, #4254BA, #6A3FD9);
    padding: 8px 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}
.pdv-header h4 {
    color: #fff;
    font-weight: 600;
    margin: 0;
    font-size: 19px;
}
.pdv-header .ri-menu-line {
    font-size: 26px;
    color: #fff;
}


/* CATEGORIAS – Encostadas no header */
.pdv-categorias {
    display: flex;
    overflow-x: auto;
    gap: 8px;
    margin-top: 70px;   /* antes era 70px -> reduzi */
    padding: 0 1px;
}

.pdv-cat {
    flex-shrink: 0;
    background: #ececec;
    border: none;
    padding: 5px 16px;
    border-radius: 22px;
    font-weight: 600;
    color: #555;
    white-space: nowrap;
}

.pdv-cat.active {
    background: #4254BA;
    color: #fff;
}

/* PRODUTOS – Agora mais pra cima e mais compactos */
.pdv-produtos-container {
    position: fixed;
    top: 110px; 
    bottom: 70px; /* para encaixar com o footer */
    left: 0;
    right: 0;
    overflow-y: auto;
    padding: 0 5px 2px 5px; /* margem inferior para não colar no footer */
}

/* CARDS (3 por linha) */
.pdv-card {
    background: #fff;
    border-radius: 8px;
    padding: 8px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.07);
    text-align: center;
    cursor: pointer;
}

/* Imagem menor */
.pdv-card img {
    width: 100%;
    height: 75px;
    object-fit: cover;
    border-radius: 10px;
}

/* Títulos menores */
.pdv-card-title {
    font-size: 11px;
    font-weight: 600;
    margin-top: 6px;
    min-height: 30px;
}

/* Preço */
.pdv-card-price {
    color: #4254BA;
    font-weight: bold;
    font-size: 13px;
}

/* FOOTER – Ajustado */
.pdv-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    border-top: 1px solid #e6e6e6;
    padding: 8px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 20;
}

/* Botão total */
.pdv-total-btn {
    background: #4254BA;
    border: none;
    padding: 10px 26px;
    border-radius: 28px;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    box-shadow: 0 4px 12px rgba(66, 84, 186, .35);
}
